#piemenu > svg {
    width: 100%;
    height: 100%;
}

#piemenu {
    height: 400px;
    width: 400px;
    margin: auto;
}

@media (max-width: 400px) {
    #piemenu {
        height: 300px;
        width: 300px;
    }
}

[class|=wheelnav-piemenu-slice-basic] {
    fill: #3498DB;
    stroke: none;
}

[class|=wheelnav-piemenu-slice-selected] {
    fill: #3498DB;
    stroke: none;
}

[class|=wheelnav-piemenu-slice-hover] {
    fill: #3498DB;
    stroke: none;
    fill-opacity: 0.77;
    cursor: pointer;
}

[class|=wheelnav-piemenu-title-basic] {
    fill: #333;
    stroke: none;
}

[class|=wheelnav-piemenu-title-selected] {
    fill: #fff;
    stroke: none;
}

[class|=wheelnav-piemenu-title-hover] {
    fill: #fff;
    stroke: none;
    cursor: pointer;
}

[class|=wheelnav-piemenu-title] > tspan {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
}

[class|=wheelnav-piemenu-line-basic] {
    stroke: #444;
    stroke-width: 1;
}

[class|=wheelnav-piemenu-line-selected] {
    stroke: #444;
    stroke-width: 1;
}

[class|=wheelnav-piemenu-line-hover] {
    stroke: #222;
    stroke-width: 2;
    cursor: pointer;
}

.wheelnav-piemenu-spreader-in,
.wheelnav-piemenu-spreader-out {
    fill: #444;
    stroke: #444;
    stroke-width: 2;
    cursor: pointer;
}

.wheelnav-piemenu-spreadertitle-in,
.wheelnav-piemenu-spreadertitle-out {
    fill: #eee;
    stroke: #444;
    cursor: pointer;
}

#boltmenu > svg {
    width: 100%;
    height: 100%;
}

#boltmenu {
    height: 400px;
    width: 400px;
    margin: auto;
}

@media (max-width: 400px) {
    #boltmenu {
        height: 300px;
        width: 300px;
    }
}

[class|=wheelnav-boltmenu-slice-basic] {
    fill: #497F4C;
    stroke: none;
}

[class|=wheelnav-boltmenu-slice-selected] {
    fill: #497F4C;
    stroke: none;
}

[class|=wheelnav-boltmenu-slice-hover] {
    fill: #497F4C;
    stroke: none;
    fill-opacity: 0.77;
    cursor: pointer;
}

[class|=wheelnav-boltmenu-title-basic] {
    fill: #333;
    stroke: none;
}

[class|=wheelnav-boltmenu-title-selected] {
    fill: #fff;
    stroke: none;
}

[class|=wheelnav-boltmenu-title-hover] {
    fill: #222;
    stroke: none;
    cursor: pointer;
}

[class|=wheelnav-boltmenu-title] > tspan {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24px;
}

.wheelnav-boltmenu-marker {
    stroke: #444;
    stroke-width: 2;
}
ul {list-style-type: none; font-size: 30px;}